:root {
    --primary: #5E785A;
    --secondary: #758074;
    --light: #EEF9FF;
    --dark: #091E3E;
    --black: #2a2a2a;
    --silver: #5a5959;
    --gold:linear-gradient(to right, #B27D44 0%, #E8B987  51%, #B27D44  100%);
    --gold2:#E8B987;
    --sage:#788b75;
    --sage-light:#cfddcd;
    --blue:#0066ff;
    --green:#09b400;
    --red:#b40000;
    --orange:#b46300;
    --yellow:#b4b400;
    --purple:#5700b4;
    --pink:#b400b1;
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }

.posisi_absolute{
    position: absolute;
}
.posisi_relaltive{
    position: relative;
}
.height-05{
    height: 3vh;
}
.height-10{
    height: 10vh;
    overflow: scroll;

}

.overflow-scroll-auto{
    overflow: auto;
}

.overflow-scroll-hidden{
    overflow: hidden;
}
.overflow-scroll-auto::-webkit-scrollbar{
    display: none;
}

.height-10,.height-20,.height-100,.overflow-scroll-hidden::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.height-chart{
    height:80vh;
}
.height-map{
    height:59vh;
}

.h-5v{
    height:5vh;
}
.h-10v{
    height:10vh;
}
.h-15v{
    height:15vh;
}
.h-20v{
    height:20vh;
}
.h-25v{
    height:25vh;
}
.h-30v{
    height:30vh;
}
.h-35v{
    height:35vh;
}
.h-40v{
    height:40vh;
}
.h-45v{
    height:45vh;
}
.h-50v{
    height:50vh;
}
.h-55v{
    height:55vh;
}
.h-60v{
    height:60vh;
}
.h-65v{
    height:65vh;
}
.h-70v{
    height:70vh;
}
.h-75v{
    height:75vh;
}
.h-80v{
    height:80vh;
}
.h-85v{
    height:85vh;
}
.h-90v{
    height:90vh;
}
.h-95v{
    height:95vh;
}
.h-100v{
    height:100vh;
}
.w-70{
    width:70%;
}
.w-75{
    width:75%;
}
.w-80{
    width:80%;
}
.w-85{
    width:85%;
}
.w-90{
    width:90%;
}

.w-95{
    width:95%;
}

.margin-auto{
    margin:0px auto;
}

.new-info{
    position: relative;
    overflow: hidden;
    display: inline-block;
    
}
.new-info img{
    overflow: hidden;
    
}
.new-info img:hover {
    transform: scale(1.58);
  }
.new-info .category{
    background-image: linear-gradient(to right, #B27D44 0%, #E8B987  51%, #B27D44  100%);
    text-align: left;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 0px 5px 5px 0px;
    display: inline-block;
    position: absolute;
    left:0;
    top:35%;
    width: auto;
    line-height: 26px;
    font-weight: 500;
    padding: 1% 15%;
    border-bottom: #507467 solid 6px;
    cursor: default;
}
.new-info div{
    display: inline-block;
    position: relative;
    
}
.overflow-hidden{
    overflow: hidden;
}

.margin-b1{
    margin-bottom: 5vh;
}
.margin-b5{
    margin-bottom: 5vh;
}
.margin-b10{
    margin-bottom: 10vh;
}
.margin-b10p{
    margin-bottom: 10%;
}
.margin-b15{
    margin-bottom: 15vh;
}
.margin-b15p{
    margin-bottom: 15%;
}
.margin-b20{
    margin-bottom: 20vh;
}
.margin-b20p{
    margin-bottom: 20%;
}
.margin-t5{
    margin-top: 5vh;
}
.margin-t6{
    margin-top: 6vh;
}
.margin-t7{
    margin-top: 7vh;
}
.margin-t8{
    margin-top: 8vh;
}
.margin-t9{
    margin-top: 9vh;
}
.margin-t10{
    margin-top: 10vh;
}
.margin-t11{
    margin-top: 11vh;
}
.margin-t12{
    margin-top: 12vh;
}
.margin-t15{
    margin-top: 15vh;
}

.margin-t5s{
    margin-top: 5%;
}
.margin-t10s{
    margin-top: 10%;
}
.margin-t15s{
    margin-top: 15%;
}
.margin-t20s{
    margin-top: 20%;
}
.margin-t25s{
    margin-top: 25%;
}
.margin-t30s{
    margin-top: 30%;
}

.margin-logo{
    margin-right:70px
}

.margin--t1{
    margin-top: -1vh;
}
.margin--t2{
    margin-top: -2vh;
}
.margin--t3{
    margin-top: -3vh;
}
.margin--t4{
    margin-top: -4vh;
}
.margin--t5{
    margin-top: -5vh;
}
.margin--t10{
    margin-top: -10vh;
}

.padding-t5{
    padding-top: 5vh;
}
.padding-t6{
    padding-top: 6vh;
}
.padding-t7{
    padding-top: 7vh;
}
.padding-t8{
    padding-top: 8vh;
}
.padding-t9{
    padding-top: 9vh;
}
.padding-t10{
    padding-top: 10vh;
}
.padding-t11{
    padding-top: 11vh;
}
.padding-t12{
    padding-top: 12vh;
}
.padding-t13{
    padding-top: 13vh;
}
.padding-t14{
    padding-top: 14vh;
}
.padding-t15{
    padding-top: 15vh;
}

.border-rad5{
    border-radius: 5px;
}
.border-rad10{
    border-radius: 10px;
}
.border-rad15{
    border-radius: 15px;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.float-center{
    float: center;
}

.rad5{
    border-radius: 5px;
}
.rad10{
    border-radius: 10px;
}
.rad15{
    border-radius: 15px;
}
.rad20{
    border-radius: 20px;
}
.rad25{
    border-radius: 25px;
}
.rad30{
    border-radius: 30px;
}
.rad35{
    border-radius: 35px;
}
.search-label{
    min-width: 100%;
    
}

.img-100{
    height:auto;
    width:100%;
}
.img-90{
    height:auto;
    width:90%;
}
.img-80{
    height:auto;
    width:80%;
}
.img-70{
    height:auto;
    width:70%;
}
.img-60{
    height:auto;
    width:60%;
}
.img-50{
    height:auto;
    width:50%;
}
.img-40{
    height:auto;
    width:40%;
}
.img-30{
    height:auto;
    width:30%;
}
.img-20{
    height:auto;
    width:20%;
}
.img-11{
    height:auto;
    width:11%;
}
.img-logo-50px{
    height:50px;
    width:50px;
}
.img-logo-40px{
    height:50px;
    width:40px;
}
.svg-1{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right:5px;
    border-radius: 50%;
    padding: 10px;
}
.svg-2{
    width: 40px;
    height: auto;
}
.svg-3{
    width: 50px;
    height: auto;
}
.max-height1{
max-height: 70vh;
overflow: scroll;
}
.max-height1::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.max-height2{
    max-height: 100vh;
}
.max-height3{
    max-height: 80vh;
}

.nav-tabs .nav-item{
    background: #cfcfcf;
background: -webkit-linear-gradient(27deg,rgba(207, 207, 207, 1) 0%, rgba(207, 207, 207, 1) 59%, rgba(232, 232, 232, 1) 58%, rgba(232, 232, 232, 1) 100%);
background: -moz-linear-gradient(27deg,rgba(207, 207, 207, 1) 0%, rgba(207, 207, 207, 1) 59%, rgba(232, 232, 232, 1) 58%, rgba(232, 232, 232, 1) 100%);
background: linear-gradient(27deg,rgba(207, 207, 207, 1) 0%, rgba(207, 207, 207, 1) 59%, rgba(232, 232, 232, 1) 58%, rgba(232, 232, 232, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#CFCFCF",
  endColorstr="#E8E8E8",
  GradientType=0
);
    margin:0px 10px;
    border-radius: 15px;
   
}
.nav-link:enabled{
    color: #000;
}

.nav-tabs .nav-item .active{
    background: #01579B;
background: -webkit-linear-gradient(27deg,#01579B 0%, #01579B 59%, #0288D1 58%, #0288D1 100%);
      background: -moz-linear-gradient(27deg,#01579B 0%, #01579B 59%, #0288D1 58%, #0288D1 100%);
      background: linear-gradient(27deg,#01579B 0%, #01579B 59%, #0288D1 58%, #0288D1 100%);
filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#587A6E",
  endColorstr="#688C7F",
  GradientType=0
);
    border-radius: 15px;
    color: #fff;
}

.text-search{
    background: var(--sage-light);
    border: 1px solid #cccccc;
    margin: 0;
    padding: 5px 15px;
    width: 100%;
    height: 47px;
    color: rgb(68, 68, 68);
    font-size: 16px;
    line-height: 20px;
}
.dashboard-list{
}
.dashboard-list-image{
   
}
.dashboard-list-image::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.img-linked{
    width:100%;
    height:auto;
}
.border-bottom{
    border-bottom: 1px dotted #ddd;
}
.cursor-true{
    cursor: pointer;
}

.position-absolute{
    position: absolute;
}
.position-relative{
    position: relative;
}
.position-fixed{
    position: fixed;
}




/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media (max-width: 575px) {
    .img-item {
        height:100%;
        width:100%;
    }
    .img-first {
        height:50vh
    }
    .height-10{
        height:10vh;
    }
    .height-20{
        height:30vh;
    }
    .height-30{
        height:30vh;
    }
    .title-header{
        padding: 10px 0 2px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 0px;
    }
    .header-logo p{
        margin-bottom: 0px;
        margin-left: 10px;
        text-transform: uppercase;
      }
    .footer-logo p{
        margin-bottom: 2px;
        margin-left: 10px;
      }
    .dashboard-list-content {
        position: sticky;
        top: 20%;
        padding: 10px;
    }
  }
@media (min-width: 576px) {
    .img-item {
        height:auto;
        width:100%;
    }
    .img-first {
        height:60vh
    }
    .height-10{
        height:10vh;
    }
    .height-20{
        height:30vh;
    }
    .height-30{
        height:30vh;
    }
    .title-header{
        padding: 10px 0 2px;
        text-align: center;
        font-weight: 600;
        height: auto;
        margin-bottom: 0px;
    }
    .header-logo p{
        margin-bottom: 0px;
        margin-left: 10px;
        text-transform: uppercase;
      }
     .footer-logo p{
        margin-bottom: -5px;
        margin-left: 10px;
      }
    .dashboard-list-content {
        position: sticky;
        top: 20%;
        padding: 10px;
    }
  }
  
  @media (min-width: 768px) {
    .img-item {
        height:25vh;
        width:100%;
    }
    .img-first {
        width:100%
    }
    .height-10{
        height:10vh;
    }
    .height-20{
        height:30vh;
    }
    .height-30{
        height:30vh;
    }
    .title-header{
        padding: 10px 0 2px;
        text-align: center;
        font-weight: 600;
        height: auto;
        margin-bottom: 0px;
    }
    .header-logo p{
        margin-bottom: 0px;
        margin-left: 10px;
        text-transform: uppercase;
      }
    .dashboard-list-content {
        position: sticky;
        top: 20%;
        padding: 10px;
        height: calc(100vh - 70px);
    }
    .paddingx-5{
        padding-left: 5%;
        padding-right: 5%;
    }
  }
  
  @media (min-width: 992px) {
    .img-item {
        height:25vh;
        width:100%;
    }
    .img-first {
        width:100%
    }
    .height-10{
        height:10vh;
    }
    .height-20{
        height:30vh;
    }
    .height-30{
        height:30vh;
    }
    .height-50{
        height:50vh;
    }
    .height-60{
        height:60vh;
    }
    .height-70{
        height:70vh;
    }
    .height-80{
        height:80vh;
    }
    .height-90{
        height:90vh;
    }
    .height-100{
        height:100vh;
        overflow: scroll;
    }
    .title-header{
        padding: 10px 0 2px;
        text-align: center;
        font-weight: 600;
        height: auto;
        margin-bottom: 0px;
    }
    .header-logo p{
        margin-bottom: -10px;
        margin-left: 10px;
        text-transform: uppercase;
    }
    .dashboard-list-content {
        position: sticky;
        top: 20%;
        padding: 10px;
        height: calc(100vh - 70px);
    }
    .paddingx-5{
        padding-left: 5%;
        padding-right: 5%;
    }
  }
  
  @media (min-width: 1200px) {
    .img-item {
        height:25vh;
        width:100%;
    }
    .img-first {
        width:100%
    }
    .height-10{
        height:10vh;
    }
    .height-20{
        height:30vh;
    }
    .height-30{
        height:30vh;
    }
    .title-header{
        padding: 10px 0 2px;
        text-align: center;
        font-weight: 600;
        height: auto;
        margin-bottom: 0px;
    }
    .header-logo p{
        margin-bottom: -10px;
        margin-left: 10px;
        text-transform: uppercase;
    }
    .dashboard-list-content {
        position: sticky;
        top: 20%;
        padding: 10px;
        height: calc(100vh - 70px);
    }
    .paddingx-5{
        padding-left: 5%;
        padding-right: 5%;
    }
  }
  
  @media (min-width: 1400px) {
    .img-item {
        height:25vh;
        width:100%;
    }
    .img-first {
        width:100%
    }
    .height-10{
        height:10vh;
    }
    .height-20{
        height:30vh;
    }
    .height-30{
        height:30vh;
    }
    .title-header{
        padding: 10px 0 2px;
        text-align: center;
        font-weight: 600;
        height: auto;
        margin-bottom: 0px;
    }
    .header-logo p{
        margin-bottom: -10px;
        margin-left: 10px;
        text-transform: uppercase;
    }
    .dashboard-list-content {
        position: sticky;
        top: 20%;
        padding: 10px;
        height: calc(100vh - 70px);
    }
    .paddingx-5{
        padding-left: 5%;
        padding-right: 5%;
    }
  }

  .animate__animated.animate__bounce {
    --animate-duration: 2s;
  }

  
  .react-bootstrap-table table{
    border: #ffffff00;
    background-color: #cdcdcd00;
    --bs-table-bg:#ffffff00;
    border-collapse: separate;
    border-spacing: 0 10px;
    border-radius: 10px;
  }
  .react-bootstrap-table table>tbody>tr{
    background-color: #ffffff;
    margin:10px 0px;
    border-radius: 10px;
  }
  .react-bootstrap-table table>tbody>tr>td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    }
 .react-bootstrap-table table>tbody>tr>td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }

 .loaderr {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #629687; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin:0px auto;
  margin-top:35%;
  padding:10px 5px;
  
}
.loaderr2 {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #629687; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin:0px auto;
  margin-top:20%;
  padding:10px 5px;
  
}

.loaderr3 {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #629687; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin:0px auto;
  padding:10px 5px;
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mt-05{
  margin-top: .15em;
}

.leaflet-container {
  height: 50vh;
  width: 50%;
  background-color: rgb(178, 210, 222);
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 80%;
  box-shadow: 0 0 0px 5px #fff;
}

.box-header-title {
  padding: 16px 20px;
  border-radius: 8px;
  line-height: 1.5;
}

.flip-card-infinite {
  width: 300px;
  height: 200px;
  perspective: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-infinite img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: flipY 2s infinite linear;
  transform-style: preserve-3d;
}

/* Animasi flip atas-bawah */
@keyframes flipY {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}